.title {
    font-size: 20px;
    color: #333333;
    margin-top: 100px;
    margin-left: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.heading {
    font-size: 50px;
    color: #333333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 160px;
}

.heading-div {
    float: left;
    margin-left: 150px;
}

.camera {
    margin-top: 80px;
    height:350px;
    width:  520px;
    margin-left: 50px;
}

.camera:hover {
    transform: scale(1.20);
}

.accessories {
    font-size: 33px;
    text-align: center;
    color: #333333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 100px;
}

 .acc-pic {
    padding-right: 30px;
    padding-top: 20px;
    height: 180px;
    width: 245px;
}

.acc-pic:hover {
    transform: scale(1.2);
}

.acc-head {
font-size: 24px;
font-weight: 250px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: #242526;
}

.acc-price {
   font-size: 22px;
   font-weight: 10px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: #242526;
   margin-top: -10px;
}

.acc-foot {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #242526;
    font-size: 12px;
}

.tripod {
    background-color: white;
    float: left;
    margin-left: 170px;
    padding-left: 30px;
    width: 280px;
    box-shadow:10px 10px 10px 10px lightgrey;  
}

.microphone {
    background-color: white;
    margin-left: 30px;
    padding-left: 30px;
    width: 280px;
    height: 395px;
    box-shadow: 10px 10px 10px 10px lightgray;  
}
.portable {
    background-color: white;
    margin-left: 30px;
    padding-left: 30px;
    width: 280px;
    height: 395px;
    box-shadow:10px 10px 10px 10px lightgrey;  
}

.foot {
    background-color: #152238;
    color: white;
    height: 200px;
    padding: 10px 0 0 0;
    width: 100%;
    margin-top: 180px;
}

.foot-head {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100px;
    font-size: 20px;
}

.foot-foot {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 10px;
    font-size: 15px;
    text-align: center;
}

.material-icons {
    color: orange;
    font-size: ;
}

.button {
    background-color: #74b3ce;
    border: none;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 180px;
    height: 40px;
    font-size: 18px;
}

.button:hover {
    transform: scale(1.20);
}

.delivery {
    margin-left: 200px;
    float: left;
    margin-top: 100px;
}

.deliver-txt {
    margin-top: 180px;
    height: 200px;
    margin-left: 30px;
    margin-right: 40px;
    color: #333333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.see-more {
    color:#74b3ce;
    text-align: right;
    margin-top: 30px; 
    margin-right: 100px;
}

.icon {
    text-align: center;
}

@media (max-width: 480px) {
    .body {
        flex-direction: column;
    }
}
  